@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$blue: #34758a;
$yellow: #ffb027;
$orange: #fd793d;
$purple: #572a53;
$indigo: #8c6a78;
$red: #c4482f;
$green: #1c7241;
$teal: #219781;
$cyan: #2b8992;
// TODO: Figure out a better way to override bootstrap variables.
$body-bg: #f8f9fa;  // gray-100
$light: #e9ecef;  // gray-200
$border-radius: 0.75rem;
$border-radius-lg: 0.85rem;
$border-radius-sm: .5rem;
$font-family-sans-serif: 'Quicksand', sans-serif;

$tooltip-bg: $red;

@import "~bootstrap/scss/bootstrap";

.tooltip-inner {
  background-color: $white;
  border-color: $danger;
  border-style: solid;
  border-width: 1px;
  color: $danger;
}

// Disables blue border around google maps
// (https://stackoverflow.com/questions/66669173/google-maps-js-api-shows-blue-focus-border)
.gm-style iframe + div { border:none!important; }
// Disables the x buttons in google maps info boxes.
.gm-style-iw > button { display:none!important; }
